<footer>
  <hr>
  <p align="center"><strong style="color:#ff8000">simon gasser elektrokontrollen</strong> <br />
  ist eine Dienstleistung von <br />
  <strong>simon gasser gmbh</strong><br />
  Hauptsitz: <span style="white-space:nowrap">Krankenhausstrasse 14</span> | <span style="white-space:nowrap">9230 Flawil</span> | <span style="white-space:nowrap">071 554 80 00</span><br />
  Schaffhausen: <span style="white-space:nowrap">Brunnengasse 2</span> | <span style="white-space:nowrap">8200 Schaffhausen</span> | <span style="white-space:nowrap">052 557 22 77</span><br />
  info(at)simon-gasser.ch
  · <a style="color:#ff8000" href="{{ "/impressum/" | relative_url }}">Impressum</a></p>
</footer>
